// for media queries:
$x-large: 87.5rem; //1400px
$large: 68.75rem; //1100px
$medium: 62.5rem; //1000px
$small: 31.25rem; //500px
$x-small: 18.75rem; //300px

$font-size: 1.1rem;

// COLORS:
$color-green: rgb(43, 226, 43);
$color-gray: rgb(202, 193, 193);
$color-gray-dark: rgb(59, 59, 59);
$color-gray-light: rgb(241, 234, 234);
