.menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 25vh;
  @include respond(medium) {
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    height: auto;
  }

  & li {
    list-style-type: none;
  }
  .projekt {
    background-color: purple;
    text-align: center;
    color: $color-gray-light;
    text-transform: capitalize;
    flex-grow: 1;

    &__name {
      display: inline-block;
      padding: 2rem;
    }
    &:hover {
      color: lighten($color-gray-light, 20%);
    }
    &:hover .projekt__links {
      display: block;
      cursor: pointer;
      background-color: lighten(purple, 10%);
      color: darken($color-gray-light, 10%);
      & > li:hover {
        background-color: darken(purple, 10%);
        color: darken($color-gray-light, 10%);
      }
    }
    &__links {
      display: none;
    }
  }
}
