.comment {
  @include flex__container($ai: center, $direction: column);

  &__form {
    @include flex__container(center, flex-start);

    background-color: gray;
    min-height: 70vh;
    width: 80%;
    padding: 2rem;
    @include respond(large) {
      flex-wrap: wrap;
    }
    @include respond(medium) {
      padding: 0 2rem;
    }
    @include respond(small) {
      width: 100%;
    }
    margin: 0 auto;
    position: relative;

    #username {
      display: inline-block;
      height: 10vh;
      text-align: center;
      @include respond(medium) {
        margin-top: 2rem;
      }
      @include respond(x-small) {
        width: 80vw;
      }
      &::placeholder {
        color: $color-gray-dark;
      }
      @extend %commentFocus;
    }
    .comment__area-holder {
      position: relative;
      margin: 0 3rem;

      #comment {
        box-sizing: border-box;
        min-width: 20vw;
        max-width: 20vw;
        min-height: 40vh;
        max-height: 40vh;
        border-width: 0;
        outline-width: 0;
        @include respond(large) {
          min-width: 50vw;
          max-width: 50vw;
          min-height: 60vh;
          max-height: 60vh;
        }
        @include respond(medium) {
          margin-top: 2rem;
        }
        @include respond(small) {
          min-width: 80vw;
          max-width: 80vw;
        }

        display: block;
        color: $color-gray-dark;
        text-align: left;
        @extend %commentFocus;
      }
      span#warning {
        color: red;
        padding: 1rem;
        background-color: white;
        width: calc(100% - 1rem);
        @include block_absolute(bottom, right, 0.5rem, 0.5rem);
      }
    }

    #comment__submit {
      align-self: flex-end;
      flex-grow: 1;
      @extend %btngray;
      @include respond(large) {
        // margin-left: 2rem;
        flex: 0 0 30%;
      }
      @include respond(large) {
        margin-bottom: 2rem;
      }
      @include respond(small) {
        flex: 0 0 70%;
      }
    }
    .color__panel {
      @include flex__container($ai: center, $direction: column);
      background-color: $color-gray;
      padding: 1rem;
      @include respond(large) {
        flex: 0 0 100%;
        margin: 2rem 0;
      }

      & > * {
        @include flex__container($jc: center, $wrap: wrap);
        background-color: $color-gray-dark;
        padding: 1rem;
        @include respond(large) {
          width: 100%;
        }
        &:not(:last-child) {
          margin-bottom: 1rem;
        }
      }
      & p {
        text-align: center;
        font-size: 1.5rem;
        color: white;
        flex: 0 0 100%;
        margin-bottom: 1rem;
      }
      & span {
        display: inline-block;
        cursor: pointer;

        @include createCircle(2rem);
        &:not(:last-child) {
          margin-right: 0.5rem;
        }
      }
    }
  }
  &__box {
    width: 70%;
    margin: 1rem 0;
    background-color: white;
    padding: 2rem;
    font-size: $font-size;
    cursor: pointer;
    transition: all 0.2s;
    @include respond(small) {
      text-align: center;
      padding: 1rem 0;
    }
    #user-img {
      @include createCircle(10rem);
      float: left;
      transform: translateX(-6px);
      shape-outside: circle(50% at 50% 50%);
      -webkit-shape-outside: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
      @include respond(small) {
        transform: translateX(0);
        float: none;
      }
    }
    #author {
      display: inline-block;
      font-size: calc(#{$font-size} + 1rem);
      padding: 0 1rem;
      background-color: $color-gray-dark;
      color: $color-gray-light;
      transition: all 0.2s;
    }
    &:hover {
      background-color: $color-gray-dark;
      color: white;
    }
    &:hover #author {
      background-color: white;
      color: $color-gray-dark;
    }
  }
}
